<!DOCTYPE html>
<html>
	<head>
	  <title>RssReader</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>

	  <style>
	  	.dataTables_wrapper{
	  		width: 100%;
	  		margin-top: 5%;
	  	}
	  </style>

	  <%= csrf_meta_tags %>
	</head>
	<body>
    <%= render 'layouts/header' %>
		<%= content_tag :div, id: 'wrapper', role: 'main' do %>    
	  	<%= content_tag :div, class: 'container body_container' do %>    
        <%= yield %> 
	    <% end %>
	  <% end %>
	</body>
</html>
